<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> To-Do List </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style>
    body {
        margin-top: 50px;
        background-color: mistyrose;
        font-family: "Volkorn, Geneva, Tahoma, sans-serif";
        font-size: 1.3em;
    }

    span.delete {
        font-size: 2em;
        background-color: red;
    }

    main {
        background-color: darkcyan;
        padding: 15px;
    }

    aside {
        background-color: darkolivegreen;
        padding: 15px;
    }

    .complete {
        zoom: 1.8;
    }

    ul label {
        padding: 10px;
    }
</style>

<body>
    <header class="jumbotron text-center" style="margin-bottom:0">
        <h1>Vue.js To-Do-App</h1>
        <h2>Global Campus Assignment</h2>
      </header>

    <div id="todoApp">
    <aside class="container-md">
        <h1 class="alert alert-primary" role="alert">Task Controls</h1>
        <section class="alert alert-success" role="alert">
            <h2 class="alert-heading">Add Task</h2>
            <input type="text" v-model="newTask" size="80" placeholder="Enter Task Description..." id="taskDesc"
                v-on:keyup.enter="saveTask">
            <button type="button" v-on:click="saveTask();">Save</button>
        </section>
        <section class="alert alert-danger" role="alert">
            <h2 class="alert-heading">Delete All Tasks</h2>
            <button 
                type="button" 
                class="btn btn-default" 
                v-on:click="clearAll()">

                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
            </button>
        </section>
    </aside>

    <content>
        <main class="container-md" id="main">
            <h1 class="alert alert-info" role="alert">To-Do List</h1>
                <section class="alert alert-warning" role="alert">
                    <h2 class="alert-heading">Tasks to Complete</h2>
                    <tbody >
                        <ul id="uncompTask">
                            <div v-for="task in tasks">
                                <template v-if="task.done === false">
                                    <li>
                                    <input type="checkbox" v-model="task.done">

                                    <button type="button" v-on:click="deleteTask(task)">&times;</button>

                                    <span v-bind:class="task.done ? 'task-done' : 'task-todo'">
                                        {{ task.subject }}
                                    </span>

                                    <i v-bind:class="task.done ? 'fa fa-check' : 'fa fa-exclamation-circle'"></i>
                                </li>
                                </template>
                            </div>
                        </ul>
                    </tbody>
                </section>
                <section class="alert alert-secondary" role="alert">
                    <h2 class="alert-heading">Completed Tasks</h2>
                    <tbody>
                        <ul id="compTask">
                            <div v-for="task in tasks">
                                <template v-if="task.done">
                                    <li>
                                    <input type="checkbox" v-model="task.done">

                                    <button type="button" v-on:click="deleteTask(task)">&times;</button>

                                    <span v-bind:class="task.done ? 'task-done' : 'task-todo'">
                                        {{ task.subject }}
                                    </span>

                                    <i v-bind:class="task.done ? 'fa fa-check' : 'fa fa-exclamation-circle'"></i>
                                </li>
                                </template>
                            </div> 
                        </ul>
                    </tbody>
                </section>
            </div>
        </main>
    </content>
</div>

<footer class="jumbotron text-center fixed-bottom" style="margin-bottom:0">
    <p>copywrite &copy; 2020 Claire Crawford (Sherrie Teague)  </p>
  </footer>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <script>
        var app = new Vue({
            el: '#todoApp',
            data: {
                newTask: null,
                message: "Tasks",
                tasks: [{
                        done: false,
                        subject: 'Hit record'
                    },
                    {
                        done: true,
                        subject: 'Welcome the Students'
                    },
                    {
                        done: false,
                        subject: 'Review Homework',
                    }
                ],
                compTask: [],
                saveTask: function () {
                    if (this.newTask == null) {
                        alert('Enter a task!');
                        return;
                    };
                    this.tasks.push({
                        done: false,
                        subject: this.newTask
                    });
                    this.newTask = null;
                },
                deleteTask: function (task) {
                    this.tasks = this.tasks.filter(function (e) {
                        return e.subject != task.subject;
                    });
                },
                clearAll: function () {
                    this.tasks = [];
                }
            }
        });
    </script>
 </body>

</html>