// color-theme/autumn.scss by Claire Crawford
/* color-theme/autumn.scss by Claire Crawford */
$color-primary:  #B0703C;
$color-primary-background:#DBA72E;
$color-secondary: #755330;
$color-secondary-background:#997C67;
$color-cta: #D1CEC5;