// color-theme/spring.scss by Claire Crawford
/* color-theme/spring.scss by Claire Crawford */
$color-primary: #F5AD94;
$color-primary-background: #B4F9A5;
$color-secondary: #9EE7F5;
$color-secondary-background: #F3A8BC;
$color-cta: #FFF1A6;