// color-theme/summer.scss by Claire Crawford
/* color-theme/summer.scss by Claire Crawford */
$color-primary: #FF598F;
$color-primary-background: #15B2D3;
$color-secondary: #236E96;
$color-secondary-background:#F3872F;
$color-cta:#FFD700;