// color-theme/winter.scss by Claire Crawford
/* color-theme/winter.scss by Claire Crawford */
$color-primary: #61656e;
$color-primary-background: #adc4fa;
$color-secondary: #bac0ce;
$color-secondary-background: #6e97f7;
$color-cta: #e9e8e6;